*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
a {
    text-decoration: none;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}
